@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.header {
    font-family: 'Merriweather', serif;
    font-family: 'Merriweather Sans', sans-serif;
}

.banner {
    height: 600px;
    width: 1320px;
    background: linear-gradient(180deg, #070211 0%, #07021100 100%), url("../images/BannerImage.png");
    background-repeat: no-repeat;
    margin: 0px 110px;
    padding: 0px;
    border-radius: 16px;
    background-color: blueviolet;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 200px;
    margin: 0px;
    ;
}

.banner-big-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    margin: 0 20%;
}

.discount-block {
    display: flex;
    flex-direction: column;
}

.discount {
    margin: 120px auto 48px auto;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* background-color: #070211; */
}

.discount-title {
    margin: 0px auto 16px auto;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category {
    margin: 0px auto 48px auto;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-year {
    margin: 0px auto 120px auto;
}

/* party block */
.party-block{
    margin-bottom: 120px ;
}
.party-background {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    margin: 0px auto 120px auto;
    padding: 0px;
    border-radius: 16px;
    background-color: blueviolet;
    display: flex;
}

.partyblock-column-content{
    width: 60%;
}
.partyblock-column-content>.partyblock-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin: 126px auto 24px 126px;
}

.partyblock-column-content> .partyblock-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: auto auto 48px 126px;
}
.partyblock-column-content> .partyblock-join{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: auto auto 142px 158px;
}
.partyblock-column-image {
    margin-top: 64px;
    margin-left: 94px;
}

/* venu block */
.venublock{
    width: 1320px;
    height: 482px;
    margin: 120px auto;
    border-radius: 16px;
    /* background-color: ; */
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}
.venu-container{
    padding: 100px;
    /* background-color: #F00; */
    text-align: center;
}
.venu-item{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
}
.venu-item-details{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
}
.venu-btn{
    margin-top: 48px;
    border: 0px;
    border-radius: 8px;
    background: #F00;
    width: 135px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
/* offer section */
.offer-container{
    width: 1320px;
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offer-column{
    /* width: 33%; */
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 500; */
    /* line-height: normal; */
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.offer-head{
    font-size: 48px;
    margin: 16px 0px 22px 0px;
    padding-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-style: normal;
    text-transform: capitalize;
}
.offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    width: 400px;
    /* margin-right: 70px; */
}
.offer-column2-image{
    width: auto;
    height: auto;
    padding: 40px;
    border: 15px solid;
    border-radius: 463px;
    /* margin-right: 70px; */
}


.offer-column-new-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* holiday block */

.holidayblock{
    width: 1320px;
    margin: 120px auto;
}
.holiday-content{
    text-align: center;

}
.holiday-title{
    margin-bottom: 0px;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    text-transform: capitalize;
    
}
.holiday-head> .holiday{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.holiday-head{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.holiday-description{
    /* width: 1068px; */
    padding: 0 252px 0 252px;
    
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.holiday-images-top{
    height: 433px;
    background-image: url("../images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}
.holiday-image-discount{
    margin-left: 746px;
}

.holiday-images-bottom{
    /* background-color: #070211; */
    margin-top: 0px;
    height: 229px;
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    
}

.holiday-image-box{
    /* background-color: #070211; */
    position: relative;
    bottom: 200px;
    left: 100px;
    height: 500px;
}

/* portfolio block */
.portfolio-block{
    width: 1320px;
    margin: 140px auto;
}

.portfolio-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    margin: 0px;
}
.portfolio-head{
    margin: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.portfolio-description{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 48px;
}

/* newsletter block */
.newsletterblock{
    width: 1320px;
    margin: 120px 140px;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newsletter-icon{
    display: block;
    margin: auto;
    padding-top: 80px;
}
.newsletter-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.newsletter-description{
    /* width: 896px; */
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 200px;
}
.newsletter-form{
    margin: 48px 336px;  
    padding-bottom: 80px;  
}
.newsletter-email{
    padding-right: 0px;
    margin-right: 0px;
    width: 400px;
    height: 72px;
    border: 0px;
    border-right: 0px;
    border-radius: 50px 0px 0px 50px ;
    background: #FFF;
    
}
.newsletter-button{
    padding-left: 0px;
    margin-left: 0px;
    width: 200px;
    height: 72px;
    border: 0px;
    border-radius: 00px 50px 50px 00px ;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    
}
.subscribe-button{
    background-color: #FFF;
    /* border: 50px solid; */
    border-radius: 50px;
}

/* footer block */
.footer-content{
    display: block;
    height: 609px;
    width: auto;
    margin-top: 120px;
    padding: 0px 140px;
    background-color: #070211;
    color: #FFF;
}
.footer-row-contact{
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content-address{
    height: 80px;
    width: 375px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}
.footer-content-important-info{
    display: block;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.phone-info, .website-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone, .website{
    margin-right: 10px;
}
.footer-row-social{
    padding-left: 480px;
}
.social-image{
    margin: 0px 5px 0 5px;
}

.footer-row-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row-end, .unsubscribe, .copyright{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    text-decoration: none;
}